{% extends 'base.html' %}

{% block content %}
<h3 class="mt-3 mb-4">Login</h3>
	<form method="post">
	 	{% csrf_token %}
		{{ form.as_p }}
	  <button type="submit" class="btn btn-primary">Login</button>
	</form>
	<p class="mt-3">
		<a href="{% url 'signup' %}"> Or Sign up ? </a>
	</p>
{% endblock content %}
