{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Geo Shops</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Geo Shops</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.path == '/' %}active {% endif %}">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item {% if '/shops/' == request.path %}active {% endif %}">
              <a class="nav-link" href="{% url 'shops' %}">Nearby Shops</a>
            </li>
            <li class="nav-item {% if 'preffered/' in request.path %}active {% endif %}">
              {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'preffered_shops' %}">My preferred Shops</a>
              {% endif %}
            </li>
            <li class="nav-item {% if 'login/' in request.path %}active {% endif %}">
              {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>
  
  {% block javascript %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  {% endblock %}
  </body>

</html>