{% extends 'base.html' %}

{% block content %}
	<h3 class="mt-3 mb-4">Nearby Shops</h3>
	{% if shops %}
		<div class="container">

			<div class="row">
		    {% for shop in shops %}
				{% if forloop.counter0|divisibleby:3 %}</div><div class="row">{% endif %}
		        <div class="col-sm-4 py-2">
				    <div class="card">
				      <div class="card-body h-100">
				        <h5 class="card-title font-weight-bold"> {{ shop.name }}</h5>
				        <p class="card-text">{{ shop.address }}</p>
				        <p class="card-text">{{ shop.city|capfirst }}</p>
				        <div class="text-center">
				        <!--<a href="#" class="btn btn-danger float-left">Dislike</a>-->
				        <a href="#" class="btn btn-success float-right" data-id="{{ shop.id }}">Like</a>
				        </div>
				      </div>
				    </div>
				 </div>
		    {% endfor %}
		    </div>
		 </div>
	{% endif %}
{% endblock content %}

{% block javascript %}
    {{ block.super }}
	<script>
		$('.btn').bind("click", function(event) {
		  event.preventDefault();
		  var id = $(this).data('id');
		  
	      $.ajax({
	        url: '{% url "like" %}',
	        data: {
	          'shop_id': id
	        },
	        dataType: 'json',
	        success: function (data) {
	          if (data.success) {
	          	console.log(data.success);
	            //alert("SUCCESS!");
	          }
	        }
	      });
		});
	</script>

{% endblock %}