{% extends 'base.html' %}

{% block content %}
<h3 class="mt-3 mb-4">Sign up</h3>
	<form method="post">
	 	{% csrf_token %}
		{{ form.as_p }}
	  <button type="submit" class="btn btn-primary">Sign up</button>
	</form>
{% endblock content %}
